<header class="main-header">
  <h1 class="main-header__title">
    <span class="main-header__title--blue">ProWay</span>
    <span class="main-header__title--orange">Computers</span>
  </h1>
  <div class="container-menu">
    <nav class="main-header__menu">
      <ul>
        <li>
          <a routerLink="produtos">Produtos</a>
        </li>
        <li>
          <a routerLink="carrinho">
            <fa-icon [icon]="faCartShopping"></fa-icon>
            <span class="badge-carrinho">{{
              this.carrinhoService.obtemCarrinho().length
            }}</span>
          </a>
        </li>
        <li>
          <a routerLink="contato">Contato</a>
        </li>
        <li>
          <a href=""><fa-icon [icon]="faFacebook"></fa-icon></a>
        </li>
        <li>
          <a href=""><fa-icon [icon]="faInstagram"></fa-icon></a>
        </li>
        <li>
          <a href=""><fa-icon [icon]="faTwitter"></fa-icon></a>
        </li>
        <li>
          <a href=""><fa-icon [icon]="faLinkedinIn"></fa-icon></a>
        </li>
        <li>
          <a href=""><fa-icon [icon]="faGithub"></fa-icon></a>
        </li>
      </ul>
    </nav>

  <app-barra-persquisa></app-barra-persquisa>
  </div>
</header>
