<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">
        Loweht iueougwf owe ouiwerowergbvire wbvbrvbgr bgr bweh brgbv rsbgsrig i
        ag iolagi lh gh a gb aogb aj vjahb hbgr jb b jhabg jhb jlab jklabw alb
        jah bg jlhabgwe labgr laer ber gçrdhudrt urt utudr piudrt itrudnijrndt
        kjnd kpjsbt ksebh irejber k
      </p>
    </section>
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <li><fa-icon [icon]="faEnvelope"></fa-icon>dfenixweb@gmail.com</li>
        <li><fa-icon [icon]="faPhone"></fa-icon>(00) 0000-0000</li>
        <li><fa-icon [icon]="faWhatsapp"></fa-icon>+55 (00) 00000-0000</li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">
    &copy; Todos os direitos reservados.
  </section>
</footer>
